language: node_js
node_js:
  - "8"
before_script:
  - npm install
script: npm test

notifications:
  email: false

before_deploy:
  - export RELEASE_TAG=$(git tag | tail -1)
  - cp -r dist hastic-grafana-app-$RELEASE_TAG
  - tar -zxf hastic-grafana-app-$RELEASE_TAG hastic-grafana-app-$RELEASE_TAG.tar.gz
  - zip -r hastic-grafana-app-$RELEASE_TAG hastic-grafana-app-$RELEASE_TAG.zip

deploy:
  provider: releases
  file:
    - "hastic-grafana-app-$RELEASE_TAG.zip"
    - "hastic-grafana-app-$RELEASE_TAG.tar.gz"
  email: ping@corpglory.com
  github-token: $GITHUB_TOKEN
  skip_cleanup: true
  on:
    tags: true
