language: node_js
node_js:
  - "8"
before_script:
  - npm install
script: npm test

notifications:
  email: false

before_deploy:
  - tar -zxf dist hastic-grafana-app.tar.gz
  - zip -r dist hastic-grafana-app.zip

deploy:
  provider: releases
  api_key: "GITHUB OAUTH TOKEN"
  file:
    - "hastic-grafana-app.zip"
    - "hastic-grafana-app.tar.gz"
  email: ping@corpglory.com
  api_key:
    secure: ""
  skip_cleanup: true
  on:
    tags: true
