<div class="gf-form-query" ng-repeat="analyticUnit in ctrl.analyticsController.analyticUnits">
  <div class="gf-form gf-form-query-letter-cell">
    <label class="gf-form-label">
      <a class="pointer" ng-click="ctrl.onToggleCollapsed(analyticUnit.id)">
        <span class="gf-form-query-letter-cell-carret">
          <i class="fa fa-caret-down" ng-hide="analyticUnit.collapsed"></i>
          <i class="fa fa-caret-right" ng-show="analyticUnit.collapsed"></i>
        </span>
        <span class="gf-form-query-letter-cell-letter">{{analyticUnit.name}}</span>
        <em class="gf-form-query-letter-cell-ds" ng-show="analyticUnit.id">({{analyticUnit.id}})</em>
      </a>
      &nbsp;
      <i ng-if="analyticUnit.status === 'READY'"
        class="fa fa-check-circle"
        bs-tooltip="'Ready'"
      ></i>
      <i ng-if="analyticUnit.status === 'SUCCESS'"
        class="fa fa-check"
        bs-tooltip="'Learning succeeded'"
      ></i>
      <i ng-if="analyticUnit.status === 'LEARNING'"
        class="fa fa-leanpub"
        bs-tooltip="'Learning'"
      ></i>
      <i ng-if="analyticUnit.status === 'DETECTION'"
        class="fa fa-search"
        bs-tooltip="'Detection'"
      ></i>
      <i ng-if="analyticUnit.status === 'PENDING'"
        class="fa fa-list-ul"
        bs-tooltip="'Pending'"
      ></i>
      <i ng-if="analyticUnit.status === 'FAILED'"
        class="fa fa-exclamation-circle"
        bs-tooltip="'Error: ' + analyticUnit.error"
      ></i>
    </label>
  </div>

  <div class="gf-form-query-content gf-form-query-content--collapsed" ng-if="analyticUnit.collapsed">
    <div class="gf-form">
      <label class="gf-form-label pointer gf-form-label--grow" ng-click="ctrl.onToggleCollapsed(analyticUnit.id)">
      </label>
    </div>
  </div>

  <div class="gf-form-query-content" ng-if="!analyticUnit.collapsed">
    <ng-include src="ctrl.partialsPath + '/analytic_unit.html'"></ng-include>
  </div>

  <div class="gf-form">
    <label class="gf-form-label">
      <a
        ng-if="analyticUnit.visible"
        bs-tooltip="'Hide. It`s visible now.'"
        ng-click="ctrl.onToggleVisibility(analyticUnit.id)"
        class="pointer"
        role="menuitem"
      >
        <i class="fa fa-eye"></i>
      </a>

      <a
        ng-if="!analyticUnit.visible"
        bs-tooltip="'Show. It`s hidden now.'"
        ng-click="ctrl.onToggleVisibility(analyticUnit.id)"
        class="pointer"
        role="menuitem"
      >
        <i class="fa fa-eye-slash"></i>
      </a>
    </label>

    <label class="gf-form-label" bs-tooltip="'Inspect Mode'">
      <a class="pointer" ng-click="ctrl.onToggleInspect(analyticUnit.id)">
        <i class="fa fa-crosshairs" ng-if="analyticUnit.inspect"></i>
        <i class="fa fa-circle-thin" ng-if="!analyticUnit.inspect"></i>
      </a>
    </label>

    <label class="gf-form-label">
      <a class="pointer" ng-click="ctrl.onRemove(analyticUnit.id)" role="menuitem">
        <i class="fa fa-trash"></i>
      </a>
    </label>

    <label class="gf-form-label"
      ng-style="!analyticUnit.changed && { 'cursor': 'not-allowed' }"
    >
      <a class="pointer"
        ng-click="ctrl.onAnalyticUnitSave(analyticUnit)"
        ng-disabled="!analyticUnit.changed"
        ng-style="!analyticUnit.changed && { 'color': 'lightgray' }"
        role="menuitem"
      >
        <i class="fa fa-spinner fa-spin" ng-if="analyticUnit.saving"></i>
        <i class="fa fa-save"ng-if="!analyticUnit.saving"></i>
      </a>
    </label>

    <div class="gf-form-label" ng-if="
      (analyticUnit.detectorType === 'pattern' ||
      (analyticUnit.detectorType === 'anomaly' && analyticUnit.hasSeasonality)) &&
      !analyticUnit.selected
    ">
      <a
        class="pointer"
        ng-style="analyticUnit.status === 'LEARNING' && { 'cursor': 'not-allowed' }"
        ng-click="ctrl.onToggleLabelingMode(analyticUnit.id)"
        ng-disabled="analyticUnit.status === 'LEARNING'"
      >
        <i class="fa fa-bar-chart" ng-if="!analyticUnit.saving"></i>
        <i class="fa fa-spinner fa-spin" ng-if="analyticUnit.saving"></i>
        Label
      </a>
    </div>

    <select class="gf-form-input width-12"
      ng-if="analyticUnit.selected && !analyticUnit.saving"
      ng-model="ctrl.analyticsController.labelingMode"
      ng-options="type.value as type.name for type in analyticUnit.labelingModes"
      ng-disabled="analyticUnit.status === 'LEARNING'"
    />

    <!-- TODO: Leave one Detect button instead of 2 -->
    <label class="gf-form-label"
      ng-if="
        analyticUnit.detectorType === 'pattern' ||
        (analyticUnit.detectorType === 'anomaly' && analyticUnit.hasSeasonality)
      "
      ng-click="ctrl.onToggleLabelingMode(analyticUnit.id)"
      ng-disabled="analyticUnit.status === 'LEARNING' || analyticUnit.saving || analyticUnit.changed || !analyticUnit.selected"
    >
      <a class="pointer">
        Detect
      </a>
    </label>

    <label class="gf-form-label"
      ng-if="
        analyticUnit.detectorType === 'threshold' ||
        (analyticUnit.detectorType === 'anomaly' && !analyticUnit.hasSeasonality)
      "
      ng-click="ctrl.runDetectInCurrentRange(analyticUnit.id)"
      ng-disabled="analyticUnit.status === 'LEARNING' || analyticUnit.saving || analyticUnit.changed"
    >
      <a class="pointer">
        Detect
      </a>
    </label>
  </div>
</div>
