<pre>
  <b>For usage instructions:</b> <a class="text-link" href="https://github.com/hastic/hastic-grafana-app/wiki/Analytic-units">Visit our <b>Wiki</b> page</a>.
  
  <b>If you encounter any problems:</b>
  Look for solution or create a new Issue <a href="https://github.com/hastic/hastic-grafana-app/issues"><b>here</b></a>.
  
  <b>Available labeling patterns examples:</b>
  1) General: patterns in your data that don't fall under any of provided built-in patterns.
  
  2) Peaks: a sharp increase to a certain single value, followed by a return to the original value.
  <!-- TODO use ng-src="ctrl.pluginPath/..." instead -->
  <img src="public/plugins/corpglory-hastic-app/img/peaks.jpg">
  
  3) Troughs: a sharp decrease to a certain single value, followed by a return to the original value.
  <img src="public/plugins/corpglory-hastic-app/img/troughs.jpg">
  
  4) Jumps: increase to a certain value without returning to the original state.
  <img src="public/plugins/corpglory-hastic-app/img/jumps.jpg">
  
  5) Drops: decrease to a certain value without returning to the original state.
  <img src="public/plugins/corpglory-hastic-app/img/drops.jpg">
  
  6) Custom: any custom model created and imported by you.
</pre>
