<div id="import-analytic-units">
  <div class="tabbed-view-header">
    <h2 class="tabbed-view-title">
      JSON
    </h2>

    <button class="tabbed-view-close-btn" ng-click="dismiss()">
      <i class="fa fa-remove"></i>
    </button>
  </div>

  <div class="tabbed-view-body">
    <div class="gf-form">
      <code-editor content="panelTemplate" data-mode="json" data-max-lines="20"></code-editor>
    </div>

    <div class="gf-form-button-row">
      <button type="button" class="btn btn-primary" ng-click="import(panelTemplate); dismiss();">Import</button>
    </div>
  </div>
</div>
