<div class="gf-form-query">
  <div class="gf-form gf-form-query-letter-cell">
    <label class="gf-form-label width-25">
      <span class="gf-form-query-letter-cell-letter">New analytic unit</span>
    </label>
  </div>

  <div class="gf-form-query-content">
    <ng-include src="ctrl.partialsPath + '/new_analytic_unit.html'"></ng-include>
  </div>

  <label class="gf-form-label">
    <a class="pointer" ng-click="ctrl.cancelCreation()">
      Cancel
    </a>
  </label>
  
  <label class="gf-form-label">
    <a class="pointer" ng-click="ctrl.saveNew()">
      <b ng-if="!ctrl.analyticsController.saving"> Create </b>
      <b ng-if="ctrl.analyticsController.saving" ng-disabled="true"> Saving... </b>
    </a>
  </label>
</div>
