<div class="query-editor-row">
  <div class="query-editor-row__header">
    <div class="query-editor-row__ref-id width-25" style="cursor: default;">
      <span>New analytic unit</span>
    </div>

    <div class="query-editor-row__collapsed-text">
    </div>
    
    <div class="query-editor-row__actions">
      <button class="query-editor-row__action">
        <a class="pointer" ng-click="ctrl.cancelCreation()">
          Cancel
        </a>
      </button>
      
      <button class="query-editor-row__action">
        <a class="pointer" ng-click="ctrl.saveNew()">
          <b ng-if="!ctrl.analyticsController.saving"> Create </b>
          <b ng-if="ctrl.analyticsController.saving" ng-disabled="true"> Saving... </b>
        </a>
      </button>
    </div>
  </div>

  <div class="query-editor-row__body gf-form-query">
    <ng-include src="ctrl.partialsPath + '/new_analytic_unit.html'"></ng-include>
  </div>
</div>
