<div class="gf-form-button-row" ng-if="ctrl.hasticDatasource !== undefined && ctrl.analyticsController.serverStatus === false">
  <div class="gf-form-group">
    <div class="alert-{{ctrl.testingStatus.status}} alert"">
      <div class="alert-icon">
        <i class="fa fa-spiner fa-spin" ng-show="ctrl.testingStatus.testing"></i>
        <i class="fa fa-exclamation-triangle" ng-show="ctrl.testingStatus.status === 'error'"></i>
        <i class="fa fa-check" ng-show="ctrl.testingStatus.status !== 'error'"></i>
      </div>
      <div class="alert-body">
        <div class="alert-title" ng-bind-html="ctrl.testingStatus.message" />
      </div>
    </div>
    <div ng-hide="ctrl.testingStatus.testing">
      <button class="btn btn-secondary" ng-click="ctrl.onHasticDatasourceChange()">
        <i class="fa fa-plug"></i>
        &nbsp; Connect to Hastic Datasource
      </button>
    </div>
  </div>
</div>
