<div class="gf-form-group">
  <div class="gf-form">
    <label class="gf-form-label">Select Hastic datasource</label>
    <select class="gf-form-input width-15"
      ng-model="ctrl.panel.hasticDatasource"
      ng-options="ds.id as ds.name for ds in ctrl.hasticDatasources"
      ng-change="ctrl.onHasticDatasourceChange()"
    />
  </div>
</div>

<ng-include src="ctrl.analyticUnitsTemplatePath">
</ng-include>

<div class="gf-form">
  <div class="gf-form-button-row" ng-if="ctrl.analyticsController.serverStatus === false">
    <h5>Hastic server at "{{ctrl.hasticDatasource.url}}" is not available</h5>
    <button class="btn btn-inverse" ng-click="ctrl.onHasticDatasourceChange()">
      <i class="fa fa-plug"></i>
      Reconnect to Hastic server
    </button>
  </div>

  <div ng-if="ctrl.analyticsController.serverStatus === true && !ctrl.analyticsController.loading">
    <div class="gf-form-inline" ng-if="ctrl.analyticsController.creatingNew">
      <div class="gf-form">
        <label class="gf-form-label width-5"> Name </label>
        <input
          type="text" class="gf-form-input width-15"
          ng-model="ctrl.analyticsController.newAnalyticUnit.name"
        >
      </div>

      <div class="gf-form">
        <label class="gf-form-label width-8"> Detector Type </label>
        <div class="gf-form-select-wrapper">
          <select class="gf-form-input width-8"
            ng-model="ctrl.analyticsController.newAnalyticUnit.detectorType"
            ng-options="analyticUnitDetectorType for analyticUnitDetectorType in ctrl.analyticUnitDetectorTypes"
            ng-change="ctrl.analyticsController.onAnalyticUnitDetectorChange(ctrl.analyticUnitTypes);"
          />
        </div>
      </div>

      <div class="gf-form">
        <label class="gf-form-label width-5"> Type </label>
        <div class="gf-form-select-wrapper">
          <select class="gf-form-input width-9"
            ng-model="ctrl.analyticsController.newAnalyticUnit.type"
            ng-options="
              type.value as type.name
              for type in ctrl.analyticUnitTypes[ctrl.analyticsController.newAnalyticUnit.detectorType]
            "
          />
        </div>
      </div>

      <div class="gf-form">
        <a class="btn btn-danger" ng-click="ctrl.cancelCreation()">
          <b> Cancel </b>
        </a>
      </div>

      <div class="gf-form">
        <a class="btn btn-secondary" ng-click="ctrl.saveNew()">
          <b ng-if="!ctrl.analyticsController.saving"> Create </b>
          <b ng-if="ctrl.analyticsController.saving" ng-disabled="true"> Saving... </b>
        </a>
      </div>
    </div>

    <div class="gf-form-button-row">
      <button
        class="btn btn-secondary width-12"
        ng-click="ctrl.createNew()"
        ng-disabled="ctrl.analyticsController.creatingNew"
      >
        <i class="fa fa-plus"></i>
        Add Analytic Unit
      </button>
    </div>
    <div class="gf-form-button-row" ng-if="ctrl.analyticsController.analyticUnits.length > 0">
      <button class="gf-form-label width-12 pointer" ng-click="ctrl.redetectAll()">
        Re-detect all analytic units
      </button>
    </div>
    <div class="gf-form-button-row">
      <button class="gf-form-label width-12 pointer" ng-click="ctrl.showHelp = !ctrl.showHelp">
        Show Help
        <i class="fa fa-caret-down" ng-show="ctrl.showHelp"></i>
        <i class="fa fa-caret-right" ng-hide="ctrl.showHelp"></i>
      </button>
    </div>

    <div class="gf-form" ng-show="ctrl.showHelp" ng-bind-html="ctrl.analyticsController.helpSectionText"></div>
  </div>

  <div ng-if="ctrl.analyticsController.serverStatus === true && ctrl.analyticsController.loading">
    <i class="fa fa-spinner fa-spin" /> Fetching analytic units...
  </div>
</div>

