<div ng-if="ctrl.analyticsController.serverStatus === true">
  <div ng-if="!ctrl.analyticsController.analyticUnits.length">
    <h5> Please create at least 1 analytic unit to enable webhooks </h5>
  </div>
  <div ng-if="ctrl.analyticsController.analyticUnits.length">
    <h5>Enable webhooks</h5>
  </div>
  <div class="editor-row">
    <div class="gf-form" ng-repeat="analyticUnit in ctrl.analyticsController.analyticUnits">
      <label class="gf-form-label max-width-15"> {{ analyticUnit.name }} ({{ analyticUnit.type }}) </label>
      <gf-form-switch
        on-change="ctrl.onAnalyticUnitAlertChange(analyticUnit)"
        checked="analyticUnit.alert"
      ></gf-form-switch>
    </div>
  </div>
</div>
